In [1]:
import pandas as pd

In [3]:
pd.read_csv('top10news.csv')

   Unnamed: 0                                                  0
0           0  SC finds things ‘amiss’ in the Kolkata rape-mu...
1           1  Can’t leave manufacturing to China, Rahul tell...
2           2  How construction boom caused sand shortage and...
3           3  Now, Google in the dock for its ad market ‘mon...
4           4                        Can you guess this country?
5           5  Mpox outbreak: Centre issues safety advisory t...
6           6                         First drunk driving arrest
7           7  Why high finance regulators like Sebi chief ha...
8           8  Typhoon Yagi leaves dozens dead in Vietnam, po...
9           9                         You share your b’day with…